nav#navbar
  display: flex
  //flex-direction: row
  align-items: center
  justify-content: center
  width: 100%

  & > div.nav-items
    background: rgba(0, 0, 0, 0.2)
    border-radius: 16px
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(2.3px)
    -webkit-backdrop-filter: blur(2.3px)
    border: 1px solid rgba(231, 214, 214, 0.68)
    padding: 2em

    &:hover
      background: rgba(0, 0, 0, 0.3)

    & > a.nav-item
      margin: 0 1em
      font-weight: bold
      color: white

      &:hover
        color: #027373

